* {box-sizing:border-box;}
html,body { height:100%; }
body {
	position:relative;
}

.map-menu {
	width:25%;
	height:100%;
	float:left;
	border-right:5px solid black;
}

.map-view {
	width:75%;
	height:100%;
	background:#52565e;
	float:right;
	overflow:hidden;
	position:relative;
}

#map-view-container {
	width:100%;
	height:100%;
	position:absolute;
}

#map-view-container svg rect, 
#map-view-container svg circle, 
#map-view-container svg polygon {
	transition:all 300ms ease-in-out;
} 

#map-view-container .table {
	cursor:pointer;
}

.map-menu ul.posts {
	font-family:arial;
}

.map-menu .posts li {
	padding:20px;
	border-bottom:1px solid #ccc;
	cursor:pointer;
}

.active {
	fill:#5fc883;
}



