* {box-sizing:border-box;}
html,body { height:100%; }
body {
	position:relative;
}

.map-menu {
	width:25%;
	height:100%;
	float:left;
	border-right:5px solid black;
}

.map-view {
	width:75%;
	height:100%;
	background:#52565e;
	float:right;
	overflow:hidden;
	position:relative;
}

#map-view-container {
	width:100%;
	height:100%;
	position:absolute;
}

svg {
	transform-origin: center;
	position:absolute;
	/*
	width:100%;
	height:100%;
	*/
}

svg g {
	cursor:grab;
}

.svg-coords {
	position:absolute;
	background:orange;
	padding:1rem;
	display:block;
	top:10px;
	right:10px;
	font-family:arial;
	visibility:hidden;
}

.scroll-tool {
	position:absolute;
	bottom:20px;
	right:20px;
	z-index:1;
	background:#fff;
}
.scroll-tool li {
	padding:10px;
	text-align:center;
	cursor:pointer;
}

.scroll-tool li:hover {
	background:#aaa;
}
