* {box-sizing:border-box;}
html,body { height:100%; }
body {
	position:relative;
}
/*
.psudo-table {
	display:table;
	width:100%;
	height:100%;
}

.psudo-table-cell {
	display:table-cell;
	vertical-align:middle;
}
*/

.table-1 {
	
}

.map-menu {
	width:25%;
	height:100%;
	float:left;
	border-right:5px solid black;
}

.map-view {
	width:75%;
	height:100%;
	background:#52565e;
	float:right;
	overflow:hidden;
	position:relative;
}

#map-view-container {
	width:100%;
	height:100%;
	position:absolute;
}

svg {
	position:absolute;
	width:100%;
	height:100%;
}

svg g {
	cursor:grab;
	transition:all 300ms linear;
}

.svg-coords {
	position:absolute;
	background:orange;
	padding:1rem;
	display:block;
	top:10px;
	right:10px;
	font-family:arial;
	visibility:hidden;
}

/*
.map-container {
	display:table;
	width:100%;
	height:100%;
	transition: transform 0.5s linear;
	transform-origin: top left;
	transform-style: preserve-3D;
	transform-origin:center;
}

.center-testing-outer {
	display:block;
	width:10px;
	height:10px;
	position:absolute;
	top:0px;
	left:0px;
	background:red;
	border-radius:100%;
}

.center-testing-inner {
	display:block;
	width:10px;
	height:10px;
	position:absolute;
	top:0px;
	left:0px;
	background:green;
	border-radius:100%;
}

.psudo-cell {
	display:table-cell;
	width:100%;
	height:100%;
	vertical-align:middle;
}

.map-ratio {
	width:100%;
	height:auto;
}

.map-elements {
	background:blue;
}

.rotate {
	transform: rotate(360deg);
}
*/
.scroll-tool {
	position:absolute;
	bottom:20px;
	right:20px;
	z-index:1;
	background:#fff;
}
.scroll-tool li {
	padding:10px;
	text-align:center;
	cursor:pointer;
}

.scroll-tool li:hover {
	background:#aaa;
}
